<nb-card>
  <nb-card-header class="h3"> Data Model Mapper </nb-card-header>
  <nb-card-body class="row justify-content-center">
    <ng-container *ngIf="isNew; then updateButton; else createButton"> </ng-container>
    <ng-template #createButton>
      <button nbButton class="mx-4" shape="rectangle" size="medium" status="primary" (click)="saveAdapter()">
        {{ 'general.save' | translate }}
        <i class="mx-1 material-icons">save</i>
      </button>
    </ng-template>
    <ng-template #updateButton>
      <button nbButton class="mx-4" shape="rectangle" size="medium" status="primary" (click)="updateAdapter()">
        {{ 'general.editor.update' | translate }}
        <i class="mx-1 material-icons">update</i>
      </button>
    </ng-template>
    <button nbButton class="mx-4" shape="rectangle" size="medium" status="success" (click)="testAdapter()">
      {{ 'general.dmm.preview' | translate }}
    </button>
    <!--
    <button nbButton class="mx-4" shape="rectangle" size="medium" status="warning">
      {{ 'general.editor.export' | translate }}
      <i class="mx-1 fas fa-file-export fa-lg"></i>
    </button>
    <button nbButton class="mx-4" shape="rectangle" size="medium" status="danger">
      {{ 'general.editor.import' | translate }}
      <i class="mx-1 fas fa-file-import fa-lg"></i>
    </button>
    -->
  </nb-card-body>
  <nb-card-footer>
    <nb-accordion multi>
      <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
          Source
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="mb-2">
            <p>Select a schema from below or upload your schema.
            </p>
            <nb-select placeholder="Select Json Schema" size="small" [(ngModel)]=selectedSchema
              (ngModelChange)="schemaChanged($event)">
              <nb-option *ngFor="let schema of schemas" value={{schema.id}}>{{schema.name}}</nb-option>
            </nb-select>
            <br><br><br>
            <div style="padding-top:10px"></div>
            <button nbButton class="mr-2" shape="rectangle" size="small" (click)="import('schema','json')">
              {{ 'general.editor.import' | translate }}
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button>
            <br>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
          Mapper
        </nb-accordion-item-header>
        <nb-accordion-item-body>

        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
          Output
        </nb-accordion-item-header>
        <nb-accordion-item-body>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-footer>
</nb-card>
