<button nbButton outline aria-label="Name" status="basic" [nbContextMenu]="actions"
  nbContextMenuTag="service-context-menu{{ value.connectorId }}">
  <nb-icon icon="settings-2"></nb-icon>
</button>
<!-- Register Connector modal ng-template -->
<ng-template #confirmRegisterDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <h5>{{ 'general.connectors.register_connector' | translate: { connectorName: value.name } }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body class="p-5 text-center"
      [innerHTML]="'general.connectors.register_connector_message' | translate: { connectorName: value.name }"></nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="primary" size="small" (click)="ref.close(true)">
        {{ 'general.connectors.register' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.close' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- DeRegister Connector modal ng-template -->
<ng-template #confirmDeRegisterDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <h5>{{'general.connectors.deregister_connector' | translate: {connectorName: value.name} }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body class="p-5 text-center"
      [innerHTML]="'general.connectors.deregister_connector_message' | translate: { connectorName: value.name }"></nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="primary" size="small" (click)="ref.close(true)">
        {{ 'general.connectors.deregister' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.close' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- Delete Connector modal ng-template -->
<ng-template #confirmDeleteDialog let-data let-ref="dialogRef">
  <style>
    input {
      text-align: center;
      width: 100%;
    }

    nb-card {
      text-align: center;
      min-width: 40rem;
      max-height: 100vh;
      overflow-y: scroll;
    }

    nb-card-header {
      text-align: center;
    }

    textarea {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    h6 {
      text-align: left;
      font-weight: normal;
    }

    input[type="text"] {
      font-weight: normal;
      text-align: left;
    }

    textarea {
      font-weight: normal;
      text-align: left;
    }

    label {
      text-align: left;
    }

    .btn-success {
      margin-left: 1rem;
    }
  </style>
  <nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <h5>{{ 'general.connectors.delete_connector' | translate: {connectorName: value.name} }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body class="p-5 text-center"
      [innerHTML]="'general.connectors.delete_connector_message' | translate: {connectorName: value.name}"></nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="danger" size="small" (click)="data.callback()">
        {{ 'general.editor.delete' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.cancel' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #editConnector let-data let-ref="dialogRef">
  <nb-card class="aci">
    <nb-card-header class="d-flex align-content-center justify-content-between">
      <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
      <h3>{{ 'general.connectors.edit' | translate }}</h3>
      <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body class="m-2 p-4">
      <h6>
        <form>
          <label for="connectorId">{{ 'general.connectors.connectorId' | translate }}</label>
          <br>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.connectorId' | translate }}"
            [(ngModel)]="value.connectorId" [ngModelOptions]="{standalone: true}" disabled>
          <br><br>
          <label for="name">{{ 'general.connectors.name' | translate }}</label>
          <br>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.name' | translate }}" [(ngModel)]="name"
            [ngModelOptions]="{standalone: true}">
          <br><br>
          <label for="description">{{ 'general.connectors.description' | translate }}</label>
          <br>
          <textarea nbInput fullWidth fieldSize="medium" placeholder="{{ 'general.connectors.description' | translate }}" [(ngModel)]="description"
            [ngModelOptions]="{standalone: true}"></textarea>
          <br><br>
          <label for="status">{{ 'general.connectors.status' | translate }}</label>
          <br>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.status' | translate }}" [(ngModel)]="value.status"
            [ngModelOptions]="{standalone: true}" disabled>
          <br><br>
          <label for="serviceId">{{ 'general.connectors.serviceId' | translate }}</label>
          <br>
          <nb-select fullWidth placeholder="{{ 'general.connectors.serviceId' | translate }}" [(ngModel)]="serviceId"
            [ngModelOptions]="{standalone: true}">
            <nb-option-group title="serviceId">
              <nb-option value="">--</nb-option>
              <nb-option *ngFor="let service of services" value={{service.identifier}}>{{service.title}}</nb-option>
            </nb-option-group>
          </nb-select>
          <br><br>
          <label for="url">{{ 'general.connectors.url' | translate }}</label>
          <br>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.url' | translate }}" [(ngModel)]="url"
            [ngModelOptions]="{standalone: true}">
          <br>
          <br>
          <label for="adapter">{{ 'general.connectors.adapter' | translate }}</label>
          <br>
          <nb-select fullWidth placeholder="{{ 'general.connectors.adapter' | translate }}" [(ngModel)]="adapterId"
            [ngModelOptions]="{standalone: true}">
            <nb-option-group title="adapterId">
              <nb-option value="">--</nb-option>
              <nb-option *ngFor="let adapter of adaptersTypeModel"
                value={{adapter.adapterId}}>{{adapter.name}}</nb-option>
            </nb-option-group>
          </nb-select>
          <br>
          <br>
          <h3>
            <button nbButton appearance="outline" shape="semi-round" size="medium" status="info"
              (click)="onEdit(); ref.close()">
              <i class="mx-1">{{ 'general.connectors.confirm' | translate }}</i>
            </button>
          </h3>
        </form>
      </h6>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #availableServiceInfoModal let-data let-ref="dialogRef">
  <h6>
    <nb-card style="width: 60vw; height: auto; max-width: 95vw; max-height: 95vh">
      <nb-card-header class="d-flex justify-content-between">
        <h5 class="h5">{{ data.modalHeader }}</h5>
        <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
          <i class="material-icons">close</i>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="row justify-content-around align-items-sm-center">
          <div class="col-sm py-2">
            <img style="width: 100px; height: 100px" src="{{ data.iconUrl }}" alt="{{ data.modalHeader }}"
              onerror="this.onerror=null;this.src = 'favicon.png'" />
          </div>
          <div class="col-sm">
            {{ data.description }}
          </div>
        </div>
        <h6>
          <div class="row justify-content-center">
            <div class="col-sm py-1">
              <div class="accent">
                <i>
                  <b>{{ 'general.services.provider' | translate }}:</b> {{ data.provider }}
                </i>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm py-1">
              <div class="accent">
                <i><b>{{ 'general.services.authority' | translate }}:</b> {{ data.competentAuthority.prefLabel }}</i>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm py-1">
              <div class="accent">
                <i><b>{{ 'general.services.location' | translate }}:</b> {{ data.location }}</i>
              </div>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-sm py-1">
              <div class="accent">
                <i>
                  <b>{{ 'general.services.channels' | translate }}: </b>
                </i>
                <div class="mx-1 p-1 badge badge-primary" *ngFor="let channel of data.channel; let i = index"
                  [attr.data-index]="i">
                  <i>{{ channel.type }}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-sm py-1">
              <div class="accent">
                <i>
                  <b>{{ 'general.services.sector' | translate }}: </b>
                </i>
                <div class="mx-1 p-1 badge badge-warning" *ngFor="let sector of data.sector; let i = index"
                  [attr.data-index]="i">
                  <i>{{ sector }}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-sm py-1">
              <div class="accent">
                <i>
                  <b>{{ 'general.services.event' | translate }}: </b>
                </i>
                <div class="mx-1 p-1 badge badge-success" *ngFor="let event of data.event; let i = index"
                  [attr.data-index]="i">
                  <i>{{ event }}</i>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm py-1">
              <div class="">
                <i><b>{{ 'general.services.link' | translate }}: </b>
                  <a href="{{ data.serviceUri }}" target="_blank"><nb-icon
                      icon="external-link-outline"></nb-icon></a></i>
              </div>
            </div>
          </div>
        </h6>
      </nb-card-body>
      <nb-card-footer>
        <div class="row justify-content-center">
          <button nbButton class="mx-4" shape="rectangle" size="large" status="primary"
            [routerLink]="['/pages/services/service-editor', { serviceId: data.serviceId, readOnly: true }]"
            (click)="ref.close()">
            <i class="material-icons">info</i>&nbsp;{{ 'general.services.view_editor' | translate }}
          </button>
          <button nbButton class="mx-4" ghost shape="rectangle" size="large" status="primary" (click)="ref.close()">
            {{ 'general.close' | translate }}
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </h6>
</ng-template>
