<button nbButton ghost shape="rectangle" size="small" status="primary" (click)="showRecordInfoModal()">
  <i class="material-icons">info</i>
</button>

<ng-template #availableRecordInfoModal let-data let-ref="dialogRef">
  <nb-card style="width: 60vw; height: auto; max-width: 95vw; max-height: 95vh">
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="h5">{{ data.modalHeader }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>
        <div class="col-sm py-2">
          <div class="col-sm">
            {{value?.description ? value?.description : ""}}
          </div>
        </div>
        <div style="margin-top:10px"><br></div>
        <div>
          <div class="col-sm py-1">
            <div class="accent">
              <i><b>{{ 'general.dmm.id' | translate }}:</b> {{ data.id }}</i>
            </div>
          </div>
        </div>
        <div style="margin-top:10px"><br></div>
        <div>
          <div class="col-sm py-1">
            <div class="accent">
              <i><b>{{ 'general.dmm.name' | translate }}:</b> {{ value.name}}</i>
            </div>
          </div>
        </div>
        <div style="margin-top:10px"><br></div>
        <div>
          <div class="col-sm py-1">
            <div class="accent">
              <i><b>{{ 'general.dmm.description' | translate }}:</b> {{ data.description }}</i>
            </div>
          </div>
        </div>
        <div style="margin-top:10px"><br></div>
        <div>
          <div class="col-sm py-1">
            <div class="accent">
              <i><b>{{ 'general.dmm.status' | translate }}:</b> {{ data.status }}</i>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div>
        <button nbButton class="mx-4" ghost shape="rectangle" size="large" status="primary" (click)="ref.close()">
          {{ 'general.close' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
