<nb-card>
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <h5 class="">{{ 'general.personal_data.add_new' | translate }}</h5>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <!--><nb-card-body class="example-items-col"> !-->
    <form><!--(ngSubmit)="onSubmit()" #connectorForm="ngForm">!-->
      <label for="name">name</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      <label for="id">id</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="id" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
      <label for="description">description</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
      <label for="status">status</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="status" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
      <label for="serviceId">serviceId</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="serviceId" [(ngModel)]="serviceId" [ngModelOptions]="{standalone: true}">
      <label for="url">url</label>
      <br>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="url" [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
      <!--><button type="submit">Conferma inserimento</button>!-->
       <button nbButton appearance="outline" shape="semi-round" size="small" status="info" (click)="onSubmit()">
        <i class="mx-1">Confirm</i>
      </button>
    </form>
  </nb-card-body>
  <nb-card-footer *ngIf="selectedFile">
    <p *ngIf="selectedFile">
      <b>{{ 'general.editor.selected' | translate }}:&nbsp;</b> <i> {{ selectedFile.name }}</i>
    </p>
  </nb-card-footer>
</nb-card>
