<nb-card style="width:400px;height:450px; overflow-y: hidden">
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <h5 class="">{{ 'general.editor.import' | translate }}</h5>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4" style="overflow-y: hidden">
    <div class="row justify-content-left p-3">Select {{type}} data </div>
    <nb-radio-group [(ngModel)]="selectedItem">
      <nb-radio value="file">
        {{ "file" }}
      </nb-radio>
      <nb-radio value="url">
        {{ "url" }}
      </nb-radio>
    </nb-radio-group>
    <div *ngIf="selectedItem === 'url'" class="row justify-content-left p-3">

      <input [(ngModel)]="dataUrl" nbInput placeholder="Data URL" />

    </div>
    <div *ngIf="selectedItem != 'url'" class="row justify-content-left p-3" style="padding-top:100px">
      <br><br>
    </div>
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput />

    <div class="row justify-content-center mt-3 p-1">
      <button nbButton [disabled]="selectedItem !== 'file'" class="mr-2" size="medium" status="danger"
        (click)="fileInput.click()">{{ 'general.editor.browse'
        | translate }}</button>
      <button nbButton [disabled]="selectedFile === undefined && dataUrl===undefined" class="ml-2" size="medium"
        status="success" (click)="onUpload(selectedItem)">
        {{ 'general.editor.upload' | translate }}
      </button>
    </div>
  </nb-card-body>
  <nb-card-footer style="height:60px">
    <p *ngIf="selectedFile">
      <b>{{ 'general.editor.selected' | translate }}:&nbsp;</b> <i> {{ selectedFile.name }}</i>
    </p>
    <p *ngIf="!selectedFile">

    </p>
  </nb-card-footer>
</nb-card>
