<nb-card>
  <nb-card-header class="h3">
    {{ 'general.menu.availableservices' | translate }}
  </nb-card-header>

  <nb-card-body>
    <div class="g-0 row mb-2">
      <div class="col-6 col-md-6 text-left">
        <label style="width:330px">&nbsp;{{this.getSelectLabel()}}</label>
        <label>&nbsp;{{this.getCountryLabel()}}</label>
        <br>
        <nb-select style="width:500px" placeholder="{{ 'general.dashboard.federatedCatalogues' | translate }}"
          [(ngModel)]="selectedCatalogueName" [ngModelOptions]="{standalone: true}">
          <nb-option-group title="{{ 'general.dashboard.federatedCatalogues' | translate }}">
            <nb-option *ngFor="let catalogue of catalogues" value={{catalogue.name}}>{{catalogue.name}}</nb-option>
          </nb-option-group>
        </nb-select>
        <label> &nbsp; &nbsp; {{this.selectedCatalogueCountry}}</label>
        <catalogue-info [value] = selectedCatalogue></catalogue-info>
      </div>
    </div>
    <br>
    <catalogue-select [selectedCatalogueName]=selectedCatalogueName (selectedCatalogueCountry)="changeCountry($event)">
    </catalogue-select>
  </nb-card-body>
</nb-card>
