<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="assets\images\app\across-logo.png" style="height: 64px" /></a>
  </div>
 </div>

<div class="header-container">
 
    <!-- <nb-icon nbPrefix icon="globe-outline"></nb-icon> -->
    <nb-select size="tiny" placeholder="Language" (selectedChange)="changeLang($event)" [selected]="userLanguage" status="primary">
      <nb-option *ngFor="let lang of languages" [value]="lang.lan" class="d-flex flex-row align-items-center lang-select">
        <nb-user size="small"
         [name]="lang.lan | uppercase"
         [picture]="lang.picture"
         showTitle="false">
        </nb-user>
      </nb-option>
    </nb-select>
 
  <nb-actions size="small">
    
    <!--<nb-action class="control-item" icon="bell-outline" badgeText="1" badgeStatus="warning" badgePosition="bottom right"></nb-action>-->
    <nb-action class="user-action">
      <nb-user
        [nbContextMenu]="loggedUserMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.name"
        [title]="user?.roles?.join(' | ')"
        [picture]="'assets/images/app/default_user.png'"
      >
      </nb-user>
      <ng-template #elseBlock>
        <button outline nbButton>
          <a routerLink="/login" routerLinkActive="button-outline-basic-active-background-color">{{ 'login.enter_button' | translate }}</a>
        </button>
      </ng-template>
    </nb-action>
  </nb-actions>
</div>
