<nb-card style="width:470px;min-height:460px">
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <h5 class="">{{ 'general.mapper.map' | translate }}</h5>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <div class="row justify-content-left p-3">Select operator</div>
    <nb-checkbox [(ngModel)]="selectedItem.direct" style="float:left; margin-left:15px">&nbsp;Direct</nb-checkbox>&nbsp;
    <nb-checkbox [(ngModel)]="selectedItem.static" style="float:left; margin-left:15px">&nbsp;Static</nb-checkbox>&nbsp;
    <nb-checkbox style="float:left; margin-left:15px" [(ngModel)]="selectedItem.array">&nbsp;Array</nb-checkbox>&nbsp;
    <nb-checkbox [(ngModel)]="selectedItem.concat" style="float:left; margin-left:15px">&nbsp;Concat</nb-checkbox>
    <br><br>
    <div fullWidth *ngIf="selectedItem.static" style="width:400px;clear:both;float:none">
      <input [(ngModel)]="selectedProp" fullWidth style="width:400px;clear:both;float:none" nbInput
        placeholder="Put static data" />
    </div>
    <div fullWidth *ngIf="selectedItem.direct" class="row justify-content-left p-3"
      style="width:400px;clear:both;float:none">
      <ng2-smart-table fullWidth style="width:400px;clear:both;float:none" [settings]="settings" [source]="source"
        (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
      <br>
      <input fullWidth [ngModel]="selectedProp" nbInput type="text" style="width:400px;clear:both;float:none"
        [ngModelOptions]="{standalone: true}" />
    </div>
    <div fullWidth *ngIf="selectedItem.concat" class="row justify-content-left p-3"
      style="width:400px;clear:both;float:none">
      <br>
      <div>
        <button nbButton appearance="outline" shape="semi-round" size="medium" status="info"
          (click)="elements.push('')">
          <i class="mx-1">{{ 'general.dmm.add' | translate }}</i>
        </button>
      </div>
      <br/>
      <div *ngFor="let element of elements">
        <input fullWidth [ngModel]="selectedProp" nbInput type="text" style="width:400px;clear:both;float:none"
          [ngModelOptions]="{standalone: true}" />
      </div>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <button nbButton appearance="outline" shape="semi-round" size="medium" status="info" (click)="confirm()">
      <i class="mx-1">{{ 'general.connectors.confirm' | translate }}</i>
    </button>
  </nb-card-footer>
</nb-card>
