<nb-card style="width:470px;min-height:460px">
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <h5 class="">{{ 'general.dmm.map' | translate }}</h5>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <div class="row justify-content-left p-3" *ngIf="selectedItem.base64==undefined">Select encode option</div>
    <nb-radio-group [(ngModel)]="selectedItem.base64" *ngIf="selectedItem.base64==undefined"
      (ngModelChange)="encodeChange($event)">
      <nb-radio [value]=true>
        {{ "base64" }}
      </nb-radio>
      <nb-radio [value]=false>
        {{ "none" }}
      </nb-radio>
    </nb-radio-group>
    <div class="row justify-content-left p-3" *ngIf="selectedItem.concat==undefined && selectedItem.base64!=undefined">
      Single or multi input</div>
    <nb-radio-group [(ngModel)]="selectedItem.concat"
      *ngIf="selectedItem.concat==undefined && selectedItem.base64!=undefined">
      <nb-radio [value]=true>
        {{ "multi" }}
      </nb-radio>
      <nb-radio [value]=false>
        {{ "single" }}
      </nb-radio>
    </nb-radio-group>
    <div class="row justify-content-left p-3"
      *ngIf="selectedItem.concat!=undefined && selectedItem.base64!=undefined && selectedItem.static==undefined && selectedItem.direct==undefined">
      Direct or static input</div>
    <nb-radio-group [(ngModel)]="selectedItem.direct" (ngModelChange)="selectedItem.static = !selectedItem.direct"
      *ngIf="selectedItem.concat!=undefined && selectedItem.base64!=undefined && selectedItem.static==undefined && selectedItem.direct==undefined">
      <nb-radio [value]=true>
        {{ "direct" }}
      </nb-radio>
      <nb-radio [value]=false>
        {{ "static" }}
      </nb-radio>
    </nb-radio-group>

    <!--
    <nb-checkbox [(ngModel)]="selectedItem.direct" style="float:left; margin-left:15px">&nbsp;Direct</nb-checkbox>&nbsp;
    <nb-checkbox [(ngModel)]="selectedItem.static" style="float:left; margin-left:15px">&nbsp;Static</nb-checkbox>&nbsp;
    <nb-checkbox style="float:left; margin-left:15px" [(ngModel)]="selectedItem.array">&nbsp;Array</nb-checkbox>&nbsp;
    <nb-checkbox [(ngModel)]="selectedItem.concat" style="float:left; margin-left:15px">&nbsp;Concat</nb-checkbox>

    <br><br>-->
    <div fullWidth *ngIf="selectedItem.static" style="width:400px;clear:both;float:none">
      <!--
      <input placeholder="Put static data" *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" fullWidth
        [(ngModel)]="this.selectedProps[this.selectedProps.length-1]" nbInput type="text"
        style="width:400px;clear:both;float:none" [ngModelOptions]="{standalone: true}" />
        -->
        <p>Insert your static value
        </p>
      <div *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" style="padding-top: 20px;"></div>
      <input *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64 && !selectedItem.direct" placeholder="Put static data"
        [(ngModel)]="selectedProp" nbInput type="text" style="width: 250px;clear:both;float:none"
        [ngModelOptions]="{standalone: true}" />

      <button style="float: right" *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" nbButton
        appearance="outline" shape="semi-round" size="medium" status="info" (click)="concat()">
        <i class="mx-1">{{ 'general.dmm.add_element' | translate }}</i>
      </button>
      <div style="padding-top: 20px;"></div>
      <div *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" style="padding-top: 50px;"></div>
      <p *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64">Values inserted
      </p>
      <input *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" fullWidth
        style="width:400px;clear:both;" [(ngModel)]="spreadProps" nbInput type="text"
        [ngModelOptions]="{standalone: true}" disabled placeholder="Insert your values above and click add element"/>

      <input *ngIf="!selectedItem.concat && !selectedItem.array && !selectedItem.base64" fullWidth
        style="width:400px;clear:both;float:none" [(ngModel)]="selectedProp" nbInput type="text"
        [ngModelOptions]="{standalone: true}" placeholder="Put static value" />
    </div>
    <div fullWidth *ngIf="selectedItem.direct" style="width:400px;clear:both;float:none">
      <ng2-smart-table fullWidth style="width:400px;clear:both;float:none" [settings]="settings" [source]="source"
        (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
      <br>

      <input *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" placeholder="Put input field name"
        [(ngModel)]="selectedProp" nbInput type="text" style="width: 250px;clear:both;float:none"
        [ngModelOptions]="{standalone: true}" />

      <button style="float: right" *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" nbButton
        appearance="outline" shape="semi-round" size="medium" status="info" (click)="concat()">
        <i class="mx-1">{{ 'general.dmm.add_element' | translate }}</i>
      </button>
      <div style="padding-top: 20px;"></div>
      <input *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" fullWidth
        style="width:400px;clear:both;float:none" [(ngModel)]="spreadProps" nbInput type="text"
        [ngModelOptions]="{standalone: true}" disabled />

      <input *ngIf="!selectedItem.concat && !selectedItem.array && !selectedItem.base64" fullWidth
        style="width:400px;clear:both;float:none" [(ngModel)]="selectedProp" nbInput type="text"
        [ngModelOptions]="{standalone: true}" placeholder="Put input field name" />
    </div>

    <!--
    <div fullWidth *ngIf="selectedItem.concat || selectedItem.array || selectedItem.base64" class="container-fluid col-xs-12">
      <div class="row">

        <div style = "padding-top: 10px">
          <button nbButton appearance="outline" shape="semi-round" size="medium" status="info"
            (click)="concat()">
            <i class="mx-1">{{ 'general.dmm.add_element' | translate }}</i>
          </button>
        </div>

        <div *ngFor="let element of elements" style = "padding-top: 10px">
          <input fullWidth [(ngModel)]="this.selectedProps[this.selectedProps.length]" nbInput type="text" style="width:400px;clear:both;float:none"
            [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
    </div>

    -->

  </nb-card-body>
  <nb-card-footer>

    <button nbButton appearance="outline" shape="semi-round" size="medium" status="info" (click)="back()">
      <i class="mx-1">{{ 'general.dmm.back' | translate }}</i>
    </button>
    &nbsp;
    <button style="float: right" nbButton appearance="outline" shape="semi-round" size="medium" status="info"
      (click)="confirm()">
      <i class="mx-1">{{ 'general.connectors.confirm' | translate }}</i>
    </button>
  </nb-card-footer>
</nb-card>
