<button nbButton ghost shape="rectangle" size="small" status="primary" (click)="showCatalogueInfoModal()">
  <i class="material-icons">info</i>
</button>

<ng-template #availableCatalogueInfoModal let-data let-ref="dialogRef">
  <nb-card style="width: 60vw; height: auto; max-width: 95vw; max-height: 95vh">
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="h5">{{ value.name }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="row justify-content-around align-items-sm-center">
        <div class="col-sm py-2">
          <img
            style="max-width: 144px; max-height: 144px";
            src="{{value.iconURL}}"
            alt="{{ data.modalHeader }}"
            onerror="this.onerror=null;this.src = 'favicon.png'"
          />
        </div>
        <div class="col-sm">
          {{value?.description ? value?.description : ""}}
        </div>
      </div>
      <div *ngIf = "value.name" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.name' | translate }}:</b> {{ value.name}}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.description" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.description' | translate }}:</b> {{ data.description }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.country" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.country' | translate }}:</b> {{ data.country }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.category" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.category' | translate }}:</b> {{ data.category }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.status" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.status' | translate }}:</b> {{ data.status }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.active" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.active' | translate }}:</b> {{ data.active }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.services" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.services' | translate }}:</b> {{ data.services }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.type" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.type' | translate }}:</b> {{ data.type }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.refresh" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.refresh' | translate }}:</b> {{ data.refresh }}</i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.apiEndpoint" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.api_endpoint' | translate }}:</b> <a href="{{ value.apiEndpoint }}" target="_blank"><nb-icon
                  icon="external-link-outline"></nb-icon></a></i>
          </div>
        </div>
      </div>
      <div *ngIf = "value.homePage" class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.catalogues.home_page' | translate }}:</b> <a href="{{ value.homePage }}" target="_blank"><nb-icon
                  icon="external-link-outline"></nb-icon></a></i>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row justify-content-center">
        <div *ngIf="value.serviceId else elseBlock ">
          <button nbButton class="mx-4" shape="rectangle" size="large" status="primary" [routerLink]="['/pages/services/service-editor', { serviceId: data.serviceId, readOnly: true }]" (click)="ref.close()">
            <i class="material-icons">info</i>&nbsp;{{ 'general.services.view_service' | translate }}
          </button>
          <button nbButton class="mx-4" ghost shape="rectangle" size="large" status="primary" (click)="ref.close()">
            {{ 'general.close' | translate }}
          </button>
        </div>
        <ng-template #elseBlock>
          <button nbButton class="mx-4" ghost shape="rectangle" size="large" status="primary" (click)="ref.close()">
            {{ 'general.close' | translate }}
          </button>
        </ng-template>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
