<nb-card>
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div>
      <h3>{{ 'general.connectors.add' | translate }}</h3>
    </div>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <h6>
      <form>
        <div>
          <label for="connectorId">{{ 'general.connectors.connectorId' | translate }}</label>
          <br>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.connectorId' | translate }}" [(ngModel)]="connectorId"
            [ngModelOptions]="{standalone: true}">
          <br><br>
        </div>
        <label for="name">{{ 'general.connectors.name' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.name' | translate }}" [(ngModel)]="name"
          [ngModelOptions]="{standalone: true}">
        <br><br>
        <label for="description">{{ 'general.connectors.description' | translate }}</label>
        <br>
        <textarea nbInput fullWidth fieldSize="medium" placeholder="{{ 'general.connectors.description' | translate }}" [(ngModel)]="description"
          [ngModelOptions]="{standalone: true}"></textarea>
        <br><br>
        <label for="status">{{ 'general.connectors.status' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.status' | translate }}" [(ngModel)]="status"
          [ngModelOptions]="{standalone: true}" disabled>
        <br><br>
        <label for="serviceId">{{ 'general.connectors.serviceId' | translate }}</label>
        <br>
        <nb-select fullWidth placeholder="{{ 'general.connectors.serviceId' | translate }}" [(ngModel)]="serviceId"
          [ngModelOptions]="{standalone: true}">
          <nb-option-group title="serviceId">
            <nb-option value="">--</nb-option>
            <nb-option *ngFor="let service of services" value={{service.identifier}}>{{service.title}}</nb-option>
          </nb-option-group>
        </nb-select>
        <br><br>
        <label for="url">{{ 'general.connectors.url' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="{{ 'general.connectors.url' | translate }}" [(ngModel)]="url"
          [ngModelOptions]="{standalone: true}">
        <br>
        <br>
        <label for="adapter">{{ 'general.connectors.adapter' | translate }}</label>
        <br>
        <nb-select fullWidth placeholder="{{ 'general.connectors.adapter' | translate }}" [(ngModel)]="adapterId"
          [ngModelOptions]="{standalone: true}">
          <nb-option-group title="adapterId">
            <nb-option value="">--</nb-option>
            <nb-option *ngFor="let adapter of adaptersTypeModel" value={{adapter.adapterId}}>{{adapter.name}}</nb-option>
          </nb-option-group>
        </nb-select>
        <br>
        <br>
        <h3>
          <button nbButton appearance="outline" shape="semi-round" size="medium" status="info" (click)="confirm()">
            <i class="mx-1">{{ 'general.connectors.confirm' | translate }}</i>
          </button>
        </h3>
      </form>
    </h6>
  </nb-card-body>
</nb-card>
