<div class="scrollable-container">
  <nb-card>
    <nb-card-header class="h3"> Data Model Mapper

      <button *ngIf="dialog" style="float:right" nbButton appearance="outline" shape="semi-round" size="tiny"
        status="info" (click)="ref?.close()">
        <i class="material-icons">close</i>
      </button>

    </nb-card-header>
    <nb-card-body *ngIf="!dialog">
      <p>Select mapper record or upload your mapper record.
      </p>
      <nb-select placeholder="Select mapper record" size="small" [(ngModel)]="selectMap"
        (ngModelChange)="mapChanged($event)">
        <nb-option *ngFor="let map of maps" value={{map.id}}>{{map.name}}</nb-option>
      </nb-select>
      <div style="margin-top: 30px;"></div>
      <div *ngIf="backendDown">Unable to reach server</div>
      <div class="row justify-content-center">
        <button nbButton class="mx-4" shape="rectangle" size="medium" status="info" (click)="reset()">
          Create new
          <i class="mx-1 material-icons">create</i>
        </button>
        <button *ngIf="!backendDown" nbButton class="mx-4" shape="rectangle" size="medium" status="primary"
          (click)="saveRecord()">
          Save as new
          <i class="mx-1 material-icons">save</i>
        </button>
        <button *ngIf="isNew && !backendDown" nbButton class="mx-4" shape="rectangle" size="medium" status="primary"
          (click)="updateRecord()">
          Update
          <i class="mx-1 material-icons">update</i>
        </button>
        <button nbButton class="mx-4" shape="rectangle" size="medium" status="warning" (click)="saveAsFile()">
          Export
          <i class="mx-1 fas fa-file-export fa-lg"></i>
        </button>
        <button nbButton class="mx-4" shape="rectangle" size="medium" status="danger" (click)="import('map', 'json')">
          Import
          <i class="mx-1 fas fa-file-import fa-lg"></i>
        </button>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <!--Map Editor accordion-->
      <nb-accordion multi>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>
            Source
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p>To get started, select the type of input (CSV or JSON) and upload or paste your data.
            </p>
            <p *ngIf="sourceRef!==''&&sourceRefFormat==='url'">URL: <a class="mb-3" href={{sourceRef}} target="_blank">
                <i>{{sourceRef}}</i></a></p>
            <p *ngIf="sourceRef!==''&&sourceRefFormat==='file'">File: <i>{{sourceRef}}</i></p>
            <div class="mb-2" *ngIf="!dialog">
              <nb-select [(ngModel)]="inputType" placeholder="Select Input Type" size="small"
                (selectedChange)="onUpdateInputType($event)" (click)="fixBrokenPageBug()">
                <nb-option value="csv">CSV</nb-option>
                <nb-option value="json">JSON</nb-option>
              </nb-select>
            </div>
            <div style="padding-top:30px"></div>
            <p *ngIf="!dialog">Select a source file or upload your source file.
            </p>
            <!--
            <br><br><br>
            <div style="padding-top:10px"></div>
-->
            <div class="mb-1" style="display:none;" id="json-input">
              <div class="mb-2">
                <br><br>
                <nb-select placeholder="Select source file" size="small" [(ngModel)]="selectedSource"
                  (ngModelChange)="sourceChanged($event)" (click)="fixBrokenPageBug()">
                  <!--<nb-option value="">---select source---</nb-option>-->
                  <nb-option *ngFor="let source of sources" value={{source.id}}>{{source.name}}</nb-option>
                </nb-select>
                &nbsp;
                <button nbButton class="mr-2" shape="rectangle" size="small" (click)="import('source','json')">
                  Upload
                  <i class="mx-1 fas fa-file-import fa-lg"></i>
                </button>
                <button nbButton class="mr-2" shape="rectangle" size="small"
                  (click)="onUpdatePathForDataMap(selectedPath, verifyRoot($event))">
                  Update source field list
                  <i class="mx-1 fas fa-file-import fa-lg"></i>
                </button>
                <!--
              <button nbButton class="mr-2" shape="rectangle" size="small" (click)="setMapEditor(true)">
                {{ 'general.editor.update_field_list' | translate }}
                <i class="mx-1 fas fa-lg"></i>
              </button>
              -->
                <nb-select [(ngModel)]="selectedPath" placeholder="Select path" size="small"
                  (selectedChange)="onUpdatePathForDataMap($event, verifyRoot($event))">
                  <nb-option value=".root$$$">root.</nb-option>
                  <nb-option *ngFor="let path of paths" value={{path}}>.{{path}}</nb-option>
                </nb-select>
              </div>
              <div style="height:500px; margin-top:10px" id="jsoneditor"></div>
            </div>
            <div class="mb-2" id="csv-input" style="display:none;">
              <div class="mb-2">
                <br><br>
                <nb-select placeholder="Select source file" size="small" [(ngModel)]="selectedSource"
                  (ngModelChange)="sourceChanged($event)" (click)="fixBrokenPageBug()">
                  <nb-option *ngFor="let source of sources" value={{source.id}}>{{source.name}}</nb-option>
                </nb-select>&nbsp;
                <button nbButton class="mr-2" shape="rectangle" size="small" (click)="import('source','csv')">
                  Upload
                  <i class="mx-1 fas fa-file-import fa-lg"></i>
                </button> &nbsp;
                <button nbButton class="mr-2" shape="rectangle" size="small" (click)="updateCSVTable()">
                  Update source field list
                  <i class="mx-1 fas fa-lg"></i>
                </button>
                <nb-select placeholder="Separator" size="small" [(selected)]="separatorItem"
                  (selectedChange)="updateConfig($event)">
                  <nb-option value=",">Comma separator</nb-option>
                  <nb-option value=";">Semi-colon separator</nb-option>
                  <nb-option value="\t">Tab separator</nb-option>
                </nb-select>
              </div>
              <div class="mb-3" id="csveditor">
                <nb-tabset>
                  <nb-tab tabTitle="CSV text">
                    <textarea (blur)="updateCSVTable()" id="textarea" nbInput rows="10" fullWidth=true placeholder="Enter CVS text..."
                      [(ngModel)]="csvSourceData" (ngModelChange)="sourceEditorMode('code')"></textarea>
                  </nb-tab>
                  <nb-tab id="csv-table" tabTitle="CSV Table">
                  </nb-tab>
                </nb-tabset>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item expanded="true" [hidden]=dialog>
          <nb-accordion-item-header>
            Mapper
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="mb-2">
              <p>Select a schema or upload your schema.
              </p>
              <p *ngIf="schemaRef!==''&&schemaRefFormat==='url'">URL: <a class="mb-3" href={{schemaRef}}
                  target="_blank">
                  <i>{{schemaRef}}</i></a></p>
              <p *ngIf="schemaRef!==''&&schemaRefFormat==='file'">File: <i>{{schemaRef}}</i></p>
              <nb-select placeholder="Select Json Schema" size="small" [(ngModel)]=selectedSchema
                (ngModelChange)="schemaChanged($event, 'DB')">
                <nb-option *ngFor="let schema of schemas" value={{schema.id}}>{{schema.name}}</nb-option>
              </nb-select>&nbsp;
              <!--<br><br><br>
              <div style="padding-top:10px"></div>-->
              <button nbButton class="mr-2" shape="rectangle" size="small" (click)="import('schema','json')">
                Upload
                <i class="mx-1 fas fa-file-import fa-lg"></i>
              </button>
              <button *ngIf="schemaJson && schemaJson.info!='set your schema here' && !tempSchema" nbButton class="mr-2"
                shape="rectangle" size="small" (click)="generateMapper(getSchema())">
                Generate mapper
                <i class="mx-1 fas fa-lg"></i>
              </button>
              <br>
            </div>
            <div style="height:500px" id="schemaEditor"></div>
            <div style="padding-top:50px"></div>
            <div class="mb-2">
              <p>Set your mapper settings.
              </p>
            </div>
            <div style="padding-top:1px"></div>
            <div style="height:500px" id="jsoneditor2"></div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>
            Output
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p *ngIf="!dialog">Test or transform.
            </p>
            <p *ngIf="dialog">Tranform.
            </p>
            <br> <br> <br>
            <button *ngIf="!dialog" nbButton class="mr-2" shape="rectangle" size="small" (click)="testAdapter()">
              Preview
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button> &nbsp;
            <button nbButton class="mr-2" shape="rectangle" size="small" (click)="transform()">
              Transform
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button>
            &nbsp;
            <button nbButton class="mr-2" shape="rectangle" size="small" (click)="download()">
              Download
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button>
            <br> <br>
            <div style="height:500px" id="jsoneditor3"></div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item expanded="false" [hidden]=dialog>
          <nb-accordion-item-header>
            Config
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p *ngIf="!dialog">Set transform config.
            </p>
            <br *ngIf="!dialog"> <br *ngIf="!dialog"> <br *ngIf="!dialog">
            <button *ngIf="!dialog" nbButton class="mr-2" shape="rectangle" size="small"
              (click)="updateConfigSettings()">
              Update config
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button>
            <button *ngIf="!dialog" nbButton class="mr-2" shape="rectangle" size="small"
              (click)="resetConfigSettings()">
              Reset config
              <i class="mx-1 fas fa-file-import fa-lg"></i>
            </button>
            <br *ngIf="!dialog"> <br *ngIf="!dialog">
            <div [hidden]=dialog style="height:500px" id="configEditor"></div>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <!--End Map Editor accordion-->
      <br>
      <div class="center">
      </div>
    </nb-card-footer>
  </nb-card>
</div>
