<button nbButton ghost shape="rectangle" size="small" status="primary" (click)="showConnectorInfoModal()">
  <i class="material-icons">info</i>
</button>

<ng-template #availableConnectorInfoModal let-data let-ref="dialogRef">
  <nb-card style="width: 60vw; height: auto; max-width: 95vw; max-height: 95vh">
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="h5">{{ data.modalHeader }}</h5>
      <button nbButton ghost shape="rectangle" size="tiny" (click)="ref.close()">
        <i class="material-icons">close</i>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="row justify-content-around align-items-sm-center">
        <div class="col-sm py-2">
          <img style="width: 140px; height: 100px" src="{{ data.iconUrl }}" alt="{{ data.modalHeader }}"
            onerror="this.onerror=null;this.src = 'favicon.png';" />
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.name' | translate }}:</b> {{ value.name}}</i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.description' | translate }}:</b> {{ data.description }}</i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.status' | translate }}:</b> {{ data.status }}</i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.serviceId' | translate }}:</b> {{ data.serviceId }}</i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.connectorId' | translate }}:</b> {{ data.connectorId }}</i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm py-1">
          <div class="accent">
            <i><b>{{ 'general.connectors.url' | translate }}:</b> <a href="{{ value.url }}" target="_blank"><nb-icon
                  icon="external-link-outline"></nb-icon></a></i>
          </div>
        </div>
      </div>

      <nb-accordion>
        <nb-accordion-item *ngFor="let log of logs" expanded=false>
          <nb-accordion-item-header>
            Logs
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <ul>
              <li>
                <div class="col-9">{{log.type}}</div>
              </li>

              <li>
                <div class="col-9">{{log.message}}</div>
              </li>
              <li>
                <div class="col-9">{{log.issued}}</div>
              </li>
            </ul>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>

    <nb-card-footer>
      <div class="row justify-content-center">
        <button nbButton class="mx-4" shape="rectangle" size="large" status="primary"
          [routerLink]="['/pages/services/service-editor', { serviceId: data.serviceId, readOnly: true }]"
          (click)="ref.close()">
          <i class="material-icons">info</i>&nbsp;{{ 'general.services.view_editor' | translate }}
        </button>
        <button nbButton class="mx-4" ghost shape="rectangle" size="large" status="primary" (click)="ref.close()">
          {{ 'general.close' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
