

<!-- Save Service modal ng-template -->
<ng-template #confirmSaveDialog let-data let-ref="dialogRef">
  <nb-card status="primary">
    <nb-card-body class="p-5">{{ 'general.editor.confirm_save' | translate: { name: data.name } }}</nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="primary" size="small" (click)="data.callback()">
        {{ 'general.save' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.cancel' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Update Service modal ng-template -->
<ng-template #confirmUpdateDialog let-data let-ref="dialogRef">
  <nb-card status="primary">
    <nb-card-body class="p-5">{{ 'general.editor.confirm_update' | translate: { name: data.name } }}</nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="primary" size="small" (click)="data.callback()">
        {{ 'general.editor.update' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.cancel' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Existing Service modal - Ask overwrite ng-template -->
<ng-template #confirmOverwriteDialog let-data let-ref="dialogRef">
  <nb-card status="primary">
    <nb-card-body class="p-5">{{ 'general.editor.confirm_overwrite' | translate: { name: data.name } }}</nb-card-body>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton status="primary" size="small" (click)="data.callback()">
        {{ 'general.editor.overwrite' | translate }}
      </button>
      <button nbButton class="ml-2" ghost shape="rectangle" status="primary" (click)="ref.close()">
        {{ 'general.cancel' | translate }}
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<nb-card>
  <nb-card-header class="h3"> Data Model Mapper </nb-card-header>

  <nb-card-body  class="row justify-content-center">
    <ng-container *ngIf="!isNew; then updateButton; else createButton"> </ng-container>

    <ng-template #createButton>
      <button nbButton class="mx-4" shape="rectangle" size="medium" status="primary"
        (click)="openSaveToRegistryDialog()" >
        {{ 'general.save' | translate }}
        <i class="mx-1 material-icons">save</i>
      </button>
    </ng-template>
    <ng-template #updateButton>
      <button nbButton class="mx-4" shape="rectangle" size="medium" status="primary"
        (click)="openUpdateToRegistryDialog()" >
        {{ 'general.editor.update' | translate }}
        <i class="mx-1 material-icons">save</i>
      </button>
    </ng-template>
    <button nbButton class="mx-4" shape="rectangle" size="medium" status="warning" (click)="saveAsFile()"
      >
      {{ 'general.editor.export' | translate }}
      <i class="mx-1 fas fa-file-export fa-lg"></i>
    </button>
    <button nbButton class="mx-4" shape="rectangle" size="medium" status="danger" (click)="importSource()"
      >
      {{ 'general.editor.import' | translate }}
      <i class="mx-1 fas fa-file-import fa-lg"></i>
    </button>
  </nb-card-body>

  <nb-card-footer  >
    <!--Map Editor accordion-->
      
<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Source
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p>To get started, select the type of input (CSV or JSON) and upload or paste your data.
      </p>
      <p *ngIf="sourceRef!==''">URL: <a class="mb-3" href={{sourceRef}} target="_blank"> <i>{{sourceRef}}</i></a></p>
      <div class="mb-2">
        <nb-select placeholder="Select Input Type" size="small" (selectedChange)="onUpdateInputType($event)">
          <nb-option value="csv">CSV</nb-option>
          <nb-option value="json">JSON</nb-option>
        </nb-select>
        
      </div>
      <div class="mb-1" style="display:none;" id="json-input">
        <div class="mb-2">
          <button nbButton  shape="rectangle" size="small"  (click)="importSource('json')">
            {{ 'general.editor.import' | translate }}
            <i class="mx-1 fas fa-file-import fa-lg"></i>
          </button>
        </div>  
        <div id="jsoneditor"></div>
        
      </div>
      <div class="mb-2" id="csv-input"  style="display:none;">
        <div class="mb-2">

          <button nbButton class="mr-2"  shape="rectangle" size="small"  (click)="importSource('csv')">
            {{ 'general.editor.import' | translate }}
            <i class="mx-1 fas fa-file-import fa-lg"></i>
          </button>

          <nb-select placeholder="Separator" size="small" [(selected)]="separatorItem">
            <nb-option value="comma">Comma separator</nb-option>
            <nb-option value="semiColon">Semi-colon separator</nb-option>
            <nb-option value="tab">Tab separator</nb-option>
          </nb-select>

          
        </div>
         
       
        
        <div class="mb-3" id="csveditor">
          
           <nb-tabset>
            <nb-tab tabTitle="CSV text">
              <textarea id="textarea" nbInput fullWidth placeholder="Enter CVS text..." [(ngModel)]="csvSourceData"></textarea>
            </nb-tab>
            <nb-tab id="csv-table" tabTitle="CSV Table">
            
            </nb-tab>              
            </nb-tabset>
        </div>       
      </div>
    
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Mapper
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="mb-2">
      <nb-select placeholder="Select Json Schema" size="small">
        <nb-option value=""></nb-option>
        <nb-option value="model1">Model1</nb-option>
        <nb-option value="nested" selected>NestedModel</nb-option>
        <nb-option value="model3" >Model3</nb-option>
      </nb-select>
    </div>
      <div class="mb-1">Or load from file: </div>
          <div class="mb-2" id="load-json-schema">
          <input type="file" id="loadSchema" value="Load" />
      </div>

      <div id="jsoneditor2"></div> 
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Output
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div id="jsoneditor3"></div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<!--End Map Editor accordion-->
    
  </nb-card-footer>
  
  
</nb-card>

