<div class="text-right">
  <button nbButton ghost shape="rectangle" size="small" (click)="resetfilters()">
    <i class="material-icons">cancel</i>&nbsp;{{ 'general.services.clear_filters' | translate }}
  </button>
</div>
<br>
<ng2-smart-table *ngIf="noDatasetSelected" [settings]="noDatasetSelectedSettings" [source]="source"> </ng2-smart-table>
<ng2-smart-table *ngIf="loading" [settings]="settings"[source]="source"> </ng2-smart-table>
<ng2-smart-table *ngIf="loaded" [settings]="afterLoadSettings" [source]="source"> </ng2-smart-table>
<ng2-smart-table *ngIf="unreachable" [settings]="datasetUnreachableSettings" [source]="source"> </ng2-smart-table>



<!--<ng2-smart-table [(settings)]="settings"[(source)]="source"> </ng2-smart-table>-->
