@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    text-align: center;
    width: 100%;
  }

  nb-card {
    text-align: center;
    min-width: 40rem;
  }

  nb-card-header {
    text-align: center;
  }

  textarea {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h6 {
    text-align: left;
    font-weight: normal;
  }

  input[type="text"] {
    //font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  textarea {
    //font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  label{
    text-align: left;
  }

  .btn-success {
    margin-left: 1rem;
  }
}
