<nb-card *ngIf="createAdapter">
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div *ngIf="updateAdapter">
      <h3>{{ 'general.adapters.edit' | translate }}</h3>
    </div>
    <div *ngIf="save || !updateAdapter">
      <h3>{{ 'general.adapters.add' | translate }}</h3>
    </div>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <h6>
      <form>
        <label for="adapterId" fullWidth>{{ 'general.adapters.adapterId' | translate }}</label>
        <br>
        <input disabled [ngModel]="adapterId" nbInput type="text" fullWidth [placeholder]=placeholders.adapterId
          [ngModelOptions]="{standalone: true}" />
        <br>
        <br>
        <label for="name" fullWidth>{{ 'general.adapters.name' | translate }}</label>
        <br>
        <input disabled [ngModel]="name" nbInput type="text" fullWidth
          placeholder="{{ 'general.adapters.name' | translate }}" [ngModelOptions]="{standalone: true}" />

        <br><br>
        <label for="status">{{ 'general.adapters.status' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" [placeholder]="placeholders.status" [(ngModel)]="status"
          [ngModelOptions]="{standalone: true}">
        <br>
        <br>
        <label for="url">{{ 'general.adapters.url' | translate }}</label>
        <br>
        <input disabled type="text" nbInput fullWidth fieldSize="small" [placeholder]="placeholders.url"
          [(ngModel)]="url" [ngModelOptions]="{standalone: true}">
        <br><br>
        <label for="sourceDataType">{{ 'general.adapters.source_data_type' | translate }}</label>
        <br>
        <nb-select disabled fullWidth [placeholder]="placeholders.sourceDataType" [(ngModel)]="sourceDataType"
          (click)="fixBrokenPageBug()" [ngModelOptions]="{standalone: true}">
          <nb-option-group title="context">
            <nb-option value="csv">CSV</nb-option>
            <nb-option value="json">JSON</nb-option>
          </nb-option-group>
        </nb-select>
        <br><br>
        <label for="description">{{ 'general.adapters.description' | translate }}</label>
        <br>
        <textarea nbInput fullWidth fieldSize="medium" [placeholder]="placeholders.description"
          [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
        <br><br>
        <label for="type">{{ 'general.adapters.type' | translate }}</label>
        <br>
        <nb-select fullWidth [placeholder]="placeholders.type" [(ngModel)]="type" (click)="fixBrokenPageBug()"
          [ngModelOptions]="{standalone: true}">
          <nb-option-group title="type">
            <nb-option value="MODEL">Model</nb-option>
            <nb-option value="DATA">Data</nb-option>
          </nb-option-group>
        </nb-select>
        <br><br>
        <label *ngIf="type=='MODEL'" for="context">{{ 'general.adapters.context' | translate
          }}</label>
        <br *ngIf="type=='MODEL'">
        <nb-select *ngIf="type=='MODEL'" fullWidth [placeholder]="placeholders.context" (click)="fixBrokenPageBug()"
          [(ngModel)]="context" [ngModelOptions]="{standalone: true}">
          <nb-option-group title="context">
            <nb-option value="IMPORT">Import</nb-option>
            <nb-option value="EXPORT">Export</nb-option>
          </nb-option-group>
        </nb-select>
        <br>
        <br>
        <h3>
          <button nbButton appearance="outline" shape="semi-round" size="medium" status="info" (click)="confirm()">
            <i class="mx-1">{{ (save || !updateAdapter) ? ('general.dmm.confirmSave' | translate) :  ('general.dmm.confirmEdit' | translate) }}</i>
          </button>
          &nbsp;
        </h3>
      </form>
    </h6>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="!createAdapter">
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div *ngIf="updateAdapter">
      <h3>{{ 'general.dmm.edit' | translate }}</h3>
    </div>
    <div *ngIf="save || !updateAdapter">
      <h3>{{ 'general.dmm.add' | translate }}</h3>
    </div>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <h6>
      <form>
        <label for="mapId" fullWidth>{{ 'general.dmm.mapId' | translate }}</label>
        <br>
        <input *ngIf="save" [(ngModel)]="adapterId" nbInput type="text" fullWidth [placeholder]=placeholders.mapId
          [ngModelOptions]="{standalone: true}" />
        <input disabled *ngIf="update" [(ngModel)]="adapterId" nbInput type="text" fullWidth
          [placeholder]=placeholders.mapId [ngModelOptions]="{standalone: true}" />
        <br>
        <br>
        <label for="name" fullWidth>{{ 'general.adapters.name' | translate }}</label>
        <br>
        <input [(ngModel)]="name" nbInput type="text" fullWidth placeholder="{{ 'general.adapters.name' | translate }}"
          [ngModelOptions]="{standalone: true}" />
        <br>
        <br>
        <nb-checkbox *ngIf="!name || !adapterId" disabled appearance="outline" status="info" shape="semi-round"
          size="medium" (click)="createAdapter = true">
          <i class="mx-1">{{ 'general.dmm.add_sc' | translate }}</i>
        </nb-checkbox>
        <nb-checkbox *ngIf="name && adapterId && update && updateAdapter" appearance="outline" status="info"
          shape="semi-round" size="medium" (click)="createAdapter = true">
          <i class="mx-1">{{ 'general.dmm.edit_sc' | translate }}</i>
        </nb-checkbox>
        <nb-checkbox *ngIf="name && adapterId && (save || !updateAdapter)" appearance="outline" status="info"
          shape="semi-round" size="medium" (click)="createAdapter = true">
          <i class="mx-1">{{ 'general.dmm.add_sc' | translate }}</i>
        </nb-checkbox>
        <h3>
          <br>
          <button *ngIf="!name || !adapterId" disabled nbButton appearance="outline" shape="semi-round" size="medium"
            status="info" (click)="confirm()">
            <i class="mx-1">{{ (save) ? ('general.dmm.confirmSave' | translate) :  ('general.dmm.confirmEdit' | translate) }}</i>
          </button>
          <button *ngIf="name && adapterId" nbButton appearance="outline" shape="semi-round" size="medium" status="info"
            (click)="confirm()">
            <i class="mx-1">{{ (save) ? ('general.dmm.confirmSave' | translate) :  ('general.dmm.confirmEdit' | translate) }}</i>
          </button>
          &nbsp;
        </h3>
      </form>
    </h6>
  </nb-card-body>
</nb-card>
