<nb-card>
  <nb-card-header class="d-flex align-content-center justify-content-between">
    <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div>
      <h3>{{ 'general.adapters.add' | translate }}</h3>
    </div>
    <button nbButton appearance="outline" shape="semi-round" size="tiny" status="info" (click)="cancel()">
      <i class="material-icons">close</i>
    </button>
  </nb-card-header>
  <nb-card-body class="m-2 p-4">
    <h6>
      <form>
        <label for="adapterId" fullWidth>{{ 'general.adapters.adapterId' | translate }}</label>
        <br>
        <input [ngModel]="adapterId" nbInput
          type="text" fullWidth [placeholder] = placeholders.adapterId
          [ngModelOptions]="{standalone: true}" />
        <br>
        <br>
        <label for="name" fullWidth>{{ 'general.adapters.name' | translate }}</label>
        <br>
        <input [ngModel]="name" nbInput type="text"
            fullWidth placeholder="{{ 'general.adapters.name' | translate }}" [ngModelOptions]="{standalone: true}"/>

        <br><br>
        <label for="status">{{ 'general.adapters.status' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" [placeholder]="placeholders.status" [(ngModel)]="status"
          [ngModelOptions]="{standalone: true}">
        <br>
        <br>
        <label for="url">{{ 'general.adapters.url' | translate }}</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" [placeholder]="placeholders.url" [(ngModel)]="url"
          [ngModelOptions]="{standalone: true}">
        <!--
        <input type="text" *ngIf="!loaded" nbInput fullWidth fieldSize="small" placeholder="url" [(ngModel)]="url"
          [ngModelOptions]="{standalone: true}">
        <input type="text" *ngIf="loaded" nbInput fullWidth fieldSize="small" placeholder="url" [(ngModel)]="url"
          [ngModelOptions]="{standalone: true}" disabled>
        -->
        <br><br>
        <label for="sourceDataType">{{ 'general.adapters.source_data_type' | translate }}</label>
        <br>
        <nb-select fullWidth [placeholder]="placeholders.sourceDataType" [(ngModel)]="sourceDataType"
            [ngModelOptions]="{standalone: true}">
            <nb-option-group title="context">
              <nb-option value="csv">CSV</nb-option>
              <nb-option value="json">JSON</nb-option>
            </nb-option-group>
          </nb-select>
        <br><br>
        <label for="description">{{ 'general.adapters.description' | translate }}</label>
        <br>
        <textarea nbInput fullWidth fieldSize="medium" [placeholder]="placeholders.description" [(ngModel)]="description"
          [ngModelOptions]="{standalone: true}"></textarea>
        <br><br>
        <label for="type">{{ 'general.adapters.type' | translate }}</label>
        <br>
        <nb-select fullWidth [placeholder]="placeholders.type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
          <nb-option-group title="type">
            <nb-option value="MODEL">Model</nb-option>
            <nb-option value="DATA">Data</nb-option>
          </nb-option-group>
        </nb-select>
        <br><br>
        <label *ngIf="type=='MODEL'" for="context">{{ 'general.adapters.context' | translate
          }}</label>
        <br *ngIf="type=='MODEL'">
        <nb-select *ngIf="type=='MODEL'" fullWidth [placeholder]="placeholders.context" [(ngModel)]="context"
          [ngModelOptions]="{standalone: true}">
          <nb-option-group title="context">
            <nb-option value="IMPORT">Import</nb-option>
            <nb-option value="EXPORT">Export</nb-option>
          </nb-option-group>
        </nb-select>
        <br>
        <br>
        <h3>
          <!--<p *ngIf="validURL==false" style=" text-align : center; font-size: 14px; color: red ">Invalid URL or unable to connect to load mapper list <br><br></p>-->
          <button nbButton appearance="outline" shape="semi-round"
            size="medium" status="info" (click)="confirm()">
            <i class="mx-1">{{ 'general.adapters.confirm' | translate }}</i>
          </button>
          &nbsp;
          <!--
          <button *ngIf="(type!='MODEL'||context!='IMPORT') && !loaded" nbButton appearance="outline" shape="semi-round"
            size="medium" status="info" (click)="loadMappers()">
            <i class="mx-1">{{ 'general.adapters.load_mapper_list' | translate }}</i>
          </button>
          -->
        </h3>
      </form>
    </h6>
  </nb-card-body>
</nb-card>
